.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    background: linear-gradient(to right, #034123, #047d9b);
}

.title {
    flex-grow: 1;
    text-align: center;
    margin-left: 18%;
    font-size: 5rem;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* pour éviter que le titre bloque les clics sur les boutons */
}

.login-header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 8px 15px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.login-header:hover {
    background-color: white;
    color:#114B40;
}

button.theme {
    margin-left: auto;
    margin-right: 20px;
    padding: 8px 12px;
    background-color: transparent;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
}

button.theme:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}
.logo-header {
    height: 6rem;
    margin-right: 20px;
    cursor: pointer;
}

.user-name {
    color: white;
    margin-left: 15px;
    margin-right: 10px;
    font-weight: bold;
}

.profil-button{
    background-color: white;
    color: #034123;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.lang-btn {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
    margin-left: 10px;
}

.lang-btn img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: block;
}

.lang-btn:hover {
    transform: scale(1.1);
    border-color: white;
    box-shadow: 0 0 15px white;}