.journey-list-wrapper {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}

.journey-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.journey-table th,
.journey-table td {
    padding: 12px 15px;
    border: 1px solid #ccc;
}

.journey-table thead {
    color: white;
}

.journey-table tbody tr:hover {
    background-color: #027089;
}

.btn-details-liste {
    display: inline-block;
    padding: 10% 20%;
    background-color: #047d9b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9rem;
}

.btn-details-liste:hover {
    background-image: var(--component-gradient);
}

.disabled-row {
    opacity: 0.5;
    pointer-events: none;
}

.creator-row {
    background-color: #007784;
}

.btn-disabled {
    color: gray;
    font-style: italic;
    cursor: not-allowed;
}

.badge-reserved {
    background-color: #97f24c;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: bold;
}

