.search-container {
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 10px;
    width: fit-content;
    margin: 20px auto;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-container {
    position: relative;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.suggestions {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background: #f0f0f0;
}

.arrow {
    font-size: 20px;
    color: white;
}

.search-button {
    background: rgb(255, 255, 255);
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.search-button:hover {
    background: #034123;
    color: white;
}